./node-backend/server/.phpunit.cache
./node-backend/server/node_modules
./node-backend/server/public/build
./node-backend/server/public/hot
./node-backend/server/public/storage
./node-backend/server/storage/*.key
./node-backend/server/vendor
./node-backend/server.env
./node-backend/server.env.backup
./node-backend/server.env.production
./node-backend/server.phpunit.result.cache
./node-backend/serverHomestead.json
./node-backend/serverHomestead.yaml
./node-backend/serverauth.json
./node-backend/servernpm-debug.log
./node-backend/serveryarn-error.log
./node-backend/server/.fleet
./node-backend/server/.idea
./node-backend/server/.vscode

# Logs
./frontend/logs
./frontend/*.log
./frontend/npm-debug.log*
./frontend/yarn-debug.log*
./frontend/yarn-error.log*
./frontend/pnpm-debug.log*
./frontend/lerna-debug.log*

./frontend/node_modules
./frontend/.DS_Store
./frontend/dist
./frontend/dist-ssr
./frontend/coverage
./frontend/*.local

./frontend//cypress/videos/
./frontend//cypress/screenshots/

# Editor directories and files
./frontend/.vscode/*
./frontend/!.vscode/extensions.json
./frontend/.idea
./frontend/*.suo
./frontend/*.ntvs*
./frontend/*.njsproj
./frontend/*.sln
./frontend/*.sw?

./frontend/*.tsbuildinfo
