./node-backend/.phpunit.cache
./node-backend/node_modules
./node-backend/public/build
./node-backend/public/hot
./node-backend/public/storage
./node-backend/storage/*.key
./node-backend/vendor
./node-backend.env
./node-backend.env.backup
./node-backend.env.production
./node-backend.phpunit.result.cache
./node-backendHomestead.json
./node-backendHomestead.yaml
./node-backendauth.json
./node-backendnpm-debug.log
./node-backendyarn-error.log
./node-backend/.fleet
./node-backend/.idea
./node-backend/.vscode

# Logs
./frontend/logs
./frontend/*.log
./frontend/npm-debug.log*
./frontend/yarn-debug.log*
./frontend/yarn-error.log*
./frontend/pnpm-debug.log*
./frontend/lerna-debug.log*

./frontend/node_modules
./frontend/.DS_Store
./frontend/dist
./frontend/dist-ssr
./frontend/coverage
./frontend/*.local

./frontend//cypress/videos/
./frontend//cypress/screenshots/

# Editor directories and files
./frontend/.vscode/*
./frontend/!.vscode/extensions.json
./frontend/.idea
./frontend/*.suo
./frontend/*.ntvs*
./frontend/*.njsproj
./frontend/*.sln
./frontend/*.sw?

./frontend/*.tsbuildinfo
